.container {
  display: grid;
  grid-template-columns:  repeat(3, 1fr 2fr);
  grid-gap: 20px 20px;
}

.box {
  
  padding: 20px;
  background-color: lime;

}

.box1 {
  grid-column-start: 1;
  grid-column-end: 7;
}